


nav {
    width: 960px;
    margin: auto 0;
}

nav:before {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background: #000;
    position:absolute;
    left: 0;
    z-index: -1;
    border-radius: 10px 10px 100px 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li {
    float: left;
}

ul li a {
    color: #fff;
    display:block;
    height: 50px;
    padding:0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}
ul li a:hover {
    background: #d34d43;
}
ul li:first-child a:hover {
    background: #d34d43;
    border-radius: 10px 10px 10px 100px;
}
body{
    background: linear-gradient(to left, rgba(110, 1, 253, 0.596),#11B9EE, rgba(0, 255, 242, 0.788));
    margin: 0;
    padding: 0;
}
/*Слайдер*/
.slider{
    width: 85%;
    height: 85%;
    overflow: scroll;
}

.container--title {
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider::-webkit-scrollbar {
    overflow-y: hidden;
    display: none;
}

.container--slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image--nyan {
    width: 30%;
    height: 60%;
}
.middle{
position: absolute;
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slides {
    width: 400%;
    margin-right: -10px;
    height: 100%;
    display: flex;
}
.slide {
    width: 100%;
    transition: all .6s ease;

}
.kk{
    text-align: center;
}
.wrapper {
    display: grid;
    justify-content: center;
}